@import 'vars';
@import 'fonts';
@import 'global';


// start block header
.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__text {
  margin-left: auto;
  margin-right: 27px;

  span {
    color: $red;
  }
}

.header__btn {
  font-size: 12px;
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
}

.header__btn-login {
  background-color: $green;
}

.header__btn-register {
  background-color: $red;
  margin-left: 7px;
}

.header__menu {
  background-color: $bg;
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;
}

.menu__list {
  li {
    display: inline-block;

    &+li {
      margin-left: 30px;
    }
  }

  a {
    color: #fff;
    font-size: 14px;
  }
}

// end block header
// start block search
.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 532px;

  &.page-search {
    min-height: 230px;

    .search__inner {
      padding: 55px 0px 70px;

      &-text {
        margin-bottom: 20px;
      }
    }
  }
}

.search__inner {
  padding: 156px 0px 100px;
  text-align: center;

  &-title {
    color: #fff;
    font-size: 48px;
    @include f700;
    margin-bottom: 10px;
    line-height: 72px;
  }

  &-text {
    margin-bottom: 54px;
    font-size: 20px;
    @include f500;
    color: #fff;
    line-height: 30px;
  }

  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;

    input {
      display: block;
      width: 100%;
      box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      font-size: 14px;
      @include f500;
      padding-left: 25px;
      padding-right: 60px;

      &::placeholder {
        color: #90a4ae;
        @include f500;
      }
    }

    button {
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 19px;
    }
  }
}

//end search
//start product
.products {
  padding: 110px 0px;
  background-color: $grey;
}

.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;

  button {
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    outline: none;

    &+button {
      margin-left: 5px;
    }

    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__item {
  max-width: 442px;
  width: 100%;
  box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;

  &-img {
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    min-height: 89px;
    @include f500;
    border-bottom: 1px solid #e7ecf2;
  }

  &-name {
    max-width: 310px;
    color: $bg;
  }

  &-title {
    font-size: 18px;
    display: block;
    margin-bottom: 11px;
  }

  &-category {
    display: block;
    font-size: 14px;
    color: $green
  }

  &-price {
    font-size: 20px;
    @include f700;
    // font-weight: 700;
    color: $bg;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 69px;
    padding: 10px 30px;
  }

  &-author {
    display: flex;
    align-items: center;
    max-width: 245px;

    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 14px;
    }

    span {
      font-size: 14px;
      @include f500;
      // font-weight: 500;
    }
  }

  &-star {
    font-size: 12px;

    span {
      color: $bg;
    }
  }
}

.products__bottom-btn {
  text-align: center;

  button {
    margin: 48px 5px 0px;
    box-shadow: 0 1px 3px rgba(204, 216, 228, 0.75);
    color: $bg;
    padding: 20px 30px;
    cursor: pointer;
    outline: none;

    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
    }
  }
}

//end product
//start product-slider

.product-slider {
  padding: 110px 0px 120px;

  .slick-dots {
    text-align: center;
    margin-top: 50px;

    li {
      display: inline-block;

      &.slick-active {
        button {
          background-color: $green;
        }
      }

      button {
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        border: none;
        font-size: 0;
        width: 16px;
        height: 16px;
        cursor: pointer;
        outline: none;
      }

      &+li {
        padding-left: 7px;
      }
    }
  }
}


// end  product-slider
// start advantage

.advantages {
  background-color: $bg;
  padding: 110px 0;

  &__title {
    color: #fff;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    text-align: center;
    padding: 0 15px;

    &:hover {
      .advantages__item-img {
        background-color: $green;
      }

      .advantages__item-title {
        color: $green;
      }

      .advantages__item-img {
        transition: all .3s;

        g {
          fill: #fff;
        }

        svg {
          fill: #fff;
        }
      }
    }

    &-img {
      width: 113px;
      height: 113px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 30px;
      transition: all .3s;
    }

    &-title {
      margin-bottom: 25px;
      color: #fff;
      font-size: 24px;
      @include f500;
      transition: all .3s;
    }

    &-text {
      font-size: 15px;
    }
  }
}

// end advantages
// start author

.author {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  min-height: 757px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    max-width: 653px;
    width: 100%;
    min-height: 216px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
  }

  &__title {
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    margin-right: 45px;
    max-width: 260px;

    span {
      @include f700;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background-color: #fff;
  }
}

// end author
//start tutorial
.tutorial {
  padding: 60px 0px 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    width: 100%;

    &+.tutorial__item {
      margin-left: 30px;
    }
  }

  &__item-images {
    width: 370px;
    min-height: 270px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__item-title {
    @include f700;
    font-size: 24px;
    line-height: 60px;
    background-color: #f8f8f8;
    min-height: 100px;
    padding: 20px 40px;
    text-align: center;
    color: $bg;
  }
}

//end tutorial
// start footer
.footer {
  background-color: $bg;

  &__content {}

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 80px;
  }

  &__col {
    max-width: 270px;
    width: 100%;

    &-menu {
      max-width: 220px;
    }
  }

  &__col-title {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 2px;
      width: 51px;
      height: 3px;
      background-color: $green;
    }
  }

  &__col-text {
    color: #b7c3c8;
    margin-bottom: 30px;
  }

  &__col-info {
    margin-top: 18px;
    @include f500;
    color: #fff;
    padding-left: 30px;
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      content: '\f041';
      font-family: "icomoon";
      font-size: 18px;
      color: $green;
    }
  }

  &__col-list {
    a {
      margin-bottom: 13px;
      color: #b7c3c8;
      padding-left: 21px;
      position: relative;

      &::before {
        position: absolute;
        left: 0;
        content: '\f105';
        font-family: "icomoon";
        font-size: 18px;
        color: $green;

      }
    }
  }

  &__social-link {}

  &__form {
    position: relative;

    input {
      border: none;
      // border: 1px solid #000000;
      background-color: #2f3c43;
      display: block;
      width: 100%;
      height: 40px;
      color: #fff;
      padding-left: 15px;
      padding-right: 50px;
      font-size: 14px;

      &::placeholder {
        color: #697378;
      }
    }

    button {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $green;
      height: 40px;
      width: 43px;
      border: none;
      cursor: pointer;

      &::before {
        content: '\f124';
        font-family: "icomoon";
        font-size: 20px;
        position: absolute;
        left: 13px;
        top: 11px;
        color: #fff;
      }
    }
  }

  &__form-title {
    margin-bottom: 18px;
    font-size: 20px;
    color: #fff;
  }

  &__copy {
    border: solid 1px #424d53;
    padding: 27px 0px 32px;
  }

  &__copy-text {
    text-align: center;
    font-size: 15px;
    color: #919699;
  }
}

//add class for "phone"
.footer__col-phone {
  &::before {
    content: '\f095';
  }
}

.footer__social-link {
  margin-bottom: 40px;

  li {
    display: inline-block;

    &+li {
      margin-left: 7px;
    }
  }

  a {
    width: 28px;
    height: 28px;
    background-image: url(../images/css_sprites.png);
  }
}

.link-twitter {
  background-position: -28px -0;
}

.link-youtube {
  background-position: -0 -28px;
}

.link-pinterest {
  background-position: -28px -28px;
}

.link-linkedin {
  background-position: -56px -0;
}

// end footer
// start product-page
.product-page__inner {
  display: flex;
  padding-bottom: 110px;
}

.product-page__aside {
  margin-right: 30px;
}

.aside__item {
  background-color: #fff;
  border: 1px solid #d7d7d7;
  padding: 0px 32px 32px;
  margin-bottom: 30px;
  width: 270px;
}

.aside__title {
  border-bottom: 1px solid #dde3e8;
  font-size: 20px;
  color: $bg;
  padding: 26px 0px 19px;
  @include f700;
}

.category__list {
  padding-top: 10px;

  li {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 20px;

    &::before {
      position: absolute;
      left: 0;
      content: '\f105';
      font-family: "icomoon";
      font-size: 18px;
      color: #8bc34a;
    }
  }

  a {
    color: $bg;
  }

  span {
    color: #90a4ae;
    margin-left: 10px;
  }
}

.price-range {
  form {
    padding-top: 20px;
  }

  button {
    margin-top: 55px;
    padding: 16px 10px;
    background-color: $green;
    text-align: center;
    width: 100%;
    display: block;
    border: none;
    color: #fff;
    @include f500;
    cursor: pointer;
    position: relative;

    &::before {
      content: "\f002";
      font-family: "icomoon";
      position: absolute;
      left: 58px;
      top: 15px;
      font-size: 15px;
      color: #fff;
    }
  }
}

.irs-min,
.irs-max {
  display: none;
}

.irs--flat .irs-line {
  background-color: #f2f5f8;
  height: 5px;
}

.irs--flat .irs-bar {
  height: 5px;
  background-color: $bg;
}

.irs--flat .irs-handle {
  top: 19px;
  width: 16px;
  height: 16px;
  border: 4px solid $green;
  background-color: #fff;
  border-radius: 50%;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs-from,
.irs-single,
.irs-to {
  top: 45px;
}

.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
  display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
  color: #78909c;
  font-size: 15px;
  line-height: 1.333;
  text-shadow: none;
  padding: 0;
  background-color: transparent;
  border-radius: 0px;
}

.product-page__aside {
  .product__item-img {
    min-height: 121px;
  }

  .product__item {
    box-shadow: none;
  }

  .product__item-content {
    padding: 0;
    min-height: 75px;
    border-bottom: none;
  }

  .product__item-info {
    padding: 0;
    min-height: 0;
  }

  .product__item-title {
    font-size: 16px;
  }

  .product__item-price {
    font-size: 16px;
  }

  .product__item-starnum {
    display: none;
  }

  .rate-star {
    margin-right: 0;
  }

  .product__item-author .avatar {
    margin-right: 9px;
  }

  .jq-ry-container {
    padding: 0;
  }

  .product__item {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #dde3e8;
  }
}

.aside__product-item {
  .product__item:last-child {
    border: none;
    padding-bottom: 0;
  }

  .product__item:first-child {
    margin-top: 25px;
  }
}

.top-sellers__link {
  padding: 16px 10px;
  background-color: $green;
  display: block;
  color: #fff;
  @include f500;
  text-align: center;
}

.product-page__filter {
  background-color: #fff;
  border: 1px solid #d7d7d7;
  padding: 0px 20px;
  margin-bottom: 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #90a4ae;
    outline: none;
    &.active {
      color: $green;
    }
  }
}

.product-page__filter-sort {
  font-size: 14px;
  color: #707070;
  display: flex;
  align-items: center;
}

button.icon-sort-amount-desc {
  font-size: 18px;
  color: #455a64;
}

button.icon-unsorted {
  font-size: 14px;
  color: #707070;
}

.product-page__content {
  width: 100%;
}

.product-page__content {
  .product__item {
    max-width: 270px;
    background-color: #fff;
  }

  .product__item-img {
    min-height: 180px;
  }

  .product__item-content {
    padding: 10px 20px;
  }

  .product__item-info {
    padding: 10px 20px;
    min-height: 65px;
  }

  .product__item-title {
    font-size: 16px;
  }

  .rate-star {
    margin-right: 5px;
  }

  .jq-ry-container {
    padding: 0;
  }
}

.product-page__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  max-width: 869px;
}

.pagination__list {
  margin-top: 90px;
  li {
    display: inline-block;
    & + li{
      margin-left: 6px;
    }
  }
  a,
  span{
    width: 43px;
    height: 38px;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    background-color: #fff;
    font-size: 16px;
    @include f500;
    display: flex;justify-content: center;
    align-items: center;
    color: $bg;
    &.active{
      background-color: $red;
      color: #fff;
    }
  }
}

.product-page__content{
  .product__item{
    &.list{
      max-width: 100%;
      .product__item-img{
        width: 240px;
        float: left;
      }
    }
  }
}
// clean